<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Aquarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_animal.css') }}">
    </head>
    <body>

       <header>
        <div class="logo">
            Aquarium
            <span></span>

        </div>
        
        <ul class="menu">
            <li><a href="premier_page">Accueil</a></li>
            <li><a href="connexion">Connexion</a></li>
            <li><a href="renseignement">Visiteurs</a></li>
            <li class="fauve"><a href="animal">Nos &nbsp Animaux</a></li>
        </ul>
        </header>

        
        <section class="home-section">
            <div class="left">
                <video autoplay muted loop playsinline id="fond-video">
                <source src="{{ url_for('static', filename='ocean.mp4') }}" type="video/mp4">
                </video>
            </div>
            <div class="right">
                <div>
                    <span class="text-right">Voyagez Dans Notre Aquarium</span>
                    <h1>Votre Découverte Idéal <br> Commence Ici 🪸 </h1> 
                    <p>Notre site vous offre une immersion unique pour apprendre, observer et admirer la biodiversité sous-marine. Que vous soyez passionné ou simple curieux, explorez avec nous la richesse incroyable des océans et des aquariums, et laissez-vous émerveiller par la beauté et la diversité des animaux aquatiques.</p>
                </div>

                <div class="buttons">
                    <button class="btn">
                        <a href="renseignement">Réservation</a>
                    </button>
                </div>
                
            </div>
        </section>

        <section class="animal">

                    <h1 class="title">Explorez Top Espèces</h1>
                
                    <p class="small-desc">Découvrer des destinations fascinates à travers le monde 
                        <br> Chaque lieu offre une expérience unique et mémorable </p> 
                    <div class="gallerie">

                        <div class="image">
                            <img src="static/Echinoderms.jpg" alt="">
                            <div class="description">
                                <h1>France </h1>
                                <p>Art de vivre, cuisine raffinée et paysage enchanteurs.</p>

                            </div>
                        </div>


                        <div class="image">
                          
                            <img src="static/demoiselle.jpg" alt="">
                            <div class="description">
                                <h1>France </h1>
                                <p>Art de vivre, cuisine raffinée et paysage enchanteurs.</p>

                            </div>
                        </div>

                        <div class="image">
                            <img src="static/aeschne_bleue.jpg" alt="">
                            <div class="description">
                                <h1>France </h1>
                                <p>Art de vivre, cuisine raffinée et paysage enchanteurs.</p>

                            </div>
                        </div>

                        <div class="image">
                            <img src="static/dauphin.jpg" alt="">
                            <div class="description">
                                <h1>France </h1>
                                <p>Art de vivre, cuisine raffinée et paysage enchanteurs.</p>

                            </div>
                        </div>

                    </div>

        </section>

   
                


    </body>
</html>