<!doctype html>
<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Aquarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_connexion.css') }}">
    <script src="https://kit.fontawesome.com/0a3948d4ed.js" crossorigin="anonymous"></script>
    </head>
  <header>
      <div class="logo">
          Aquarium
      </div>
      
      <ul class="menu">
          <li><a href="premier_page">Accueil</a></li>
          <li><a href="connexion">Connexion</a></li>
          <li><a href="renseignement">Visiteurs</a></li>
          <li class="fauve"><a href="animal">Nos &nbsp Animaux</a></li>
      </ul>
  </header>

    <body>
       
    <section >
      <!-- effectuer une action -->
      <form method="POST" action="verification">
          <h1> Connexion</h1>

          <div class ="input-box">
              <input type="text" name="prenom" placeholder="Nom  utilisateur">
              <i class="fa-solid fa-circle-user"></i>
          </div> 
        
          <div class = "input-box">
            <input type="password" name="mdp" placeholder="Mot  de  passe">
            <i class="fa-solid fa-lock"></i>
            </div>

          <button type="submit" class="login">Se connecter</button>
          
        </form>
    </section>
  </body>