<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Aquarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mammifere.css') }}">
    </head>

    <header>
            <div class="logo">
                Aquarium
                <span></span>

            </div>
        
            <ul class="menu">
                <li><a href="premier_page">Accueil</a></li>
                <li><a href="deconnexion">Deconnexion</a></li>
                <li><a href="renseignement">Visiteurs</a></li>
                <li class="fauve"><a href="animal">Nos &nbsp Animaux</a></li>
            </ul>


    </header>


    <div class="dauphin">
        <h1>Mammifère marin</h1>
        <p class="description">
           L'espérance de vie est estimée à {{vie1}}, <br>
           en grande partie grâce à leur régime alimentaire {{reg_alimentaire}},<br>
         qui joue un rôle essentiel dans leur santé et leur longévité.
        </p>
            
        <ul class="biographie">
            <li> Secteur: {{sect1}}</li>
            <li> bassin:  {{bas1}}</li>
            <li>  Nom:   {{nom}}</li>
            <li>  lieu de naissance:  {{naissance1}}</li>
            <li>  deces:   {{deces1}}</li>
            <li>  Autre:   {{autre}}</li>

            <li> cohabitation:  {{coha1}}</li>
            

        </ul>



    </div>
        
        
            
      

       
    </body>
        
        