<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Aquarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_premier_page.css') }}"> 
   </head>
    <body>
        <header>
            <div class="logo">
                Aquarium
            </div>
            
            <ul class="menu">
                <li><a href="connexion">Connexion</a></li>
                <li><a href="renseignement">Visiteurs</a></li>
                <li class="fauve"><a href="animal">Nos &nbsp Animaux</a></li>
            </ul>
        </header>
        <video autoplay muted loop playsinline id="fond-video">
            <source src="{{ url_for('static', filename='ocean.mp4') }}" type="video/mp4">
        </video>
    </body>
</html>