<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8"/>
        <title></title>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Aquarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_rendez_vous.css') }}"> 
    </head>
    <body>
      <header>
        <div class="logo">
            Aquarium
        </div>
      
        <ul class="menu">
            <li><a href="premier_page">Accueil</a></li>
            <li><a href="connexion">Connexion</a></li>
            <li><a href="renseignement">Visiteurs</a></li>
            <li class="fauve"><a href="animal">Nos &nbsp Animaux</a></li>
        </ul>
      </header>

        <div class="container">
             
            {% if bool %}
                <h1>📅 Rendez-vous enregistré avec succès. </h1>
                <p>
                    Activité : {{valeur.type_activite}}
                </p>
                <p>
                    horaire : {{valeur.horaire}}
                </p>
                <p>
                    identifiant de l'activité : {{valeur.id_activite}}
                </p>
                <button class="validation"><img class="valide" src="{{ url_for('static', filename='validation.png') }}" alt=""></button>


            {% else %}
                <h1>📅❌ — Pas de créneau disponible </h1>

            {% endif %}

             
            
        </div>
        
</body>