<!doctype html>
<html lang = "fr">
  <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Aquarium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_responsable_add.css') }}">
    </head>

    <header>
        <div class="logo">
            Aquarium
            <span></span>

        </div>

        <ul class="menu">
            <li><a href="premier_page">Accueil</a></li>
            <li><a href="deconnexion">Deconnexion</a></li>
            <li><a href="renseignement">Visiteurs</a></li>
            <li class="fauve"><a href="animal">Nos &nbsp Animaux</a></li>
        </ul>
    </header>

    <body>
      <form method="post" action="{{url_for('organisation_responsable')}}">

        <div class="formulaire_supp">

          <div class="supp">
          <h1 class="act">Formulaire de réforme d'une activite</h1>
          <p class="act"> Choisissez le type d’activité à supprimer</p> 
          <div class="entre">
            <!-- <p class="ident_text">Identifiant</p> -->
            <!-- <input  class="id" type="text" name="identifiant" placeholder="Saissisez l'Identifiant"> -->

            <label for="cars">Type d'Activité:</label>
            <select name="Activité" id="cars">
              <option value=nourrissage >Nourrissage </option>
              <option value="inspection de la qualité de l'eau">Inspection de la qualité de l'eau</option>
              <option value="bilan véterinaire">Bilan Véterinaire</option>
            </select>
            
           
            <legend>Activité ouverte à cette heure-ci:</legend>
            <label for="scales">Oui</label>
            <input type="checkbox" id="open" name="oui" checked />
            <label for="scales">Non</label>
            <input type="checkbox" id="open" name="non" checked />
            
            
          </div> 
         
    
          <div class="entre">
            
            <label>Choisissez</label>
            <label class="heure_open" for="cars">Heure:</label>

            <select name="HEURE" id="cars">
              <option value="10:30" >10h30 </option>
              <option value="16:00">16h00 </option>
              <option value="8:30">8h30 </option>
              <option value="15:45">15h45</option>
            </select>

            <label class="date_open" for="cars">Date:</label>
            <input  class="id" type="date" name="date_time">
           
            
          </div>



          <div class="entre">
            <button class="valider" type="submit">Valider</button>
            <a href="accueil" class="retour"><img class="image" src="{{ url_for('static', filename='fleche.png') }}" alt=""></a>
          </div>
         
          
        </div>
        

        </div>
      </form>

     
      <div class="tache">
        <h1> Activités 📌  </h1>
        {% for act in activite %}
          
        <ul>
            {% if act.type_activite == "nourrissage" %}
                <li><div class="id">🆔 {{act.id_activite}}</div> <div class="desc">🐟<strong>{{act.type_activite}}</strong> —  📅 {{act.horaire}}</div></li>
            
            {% elif act.type_activite == "inspection de la qualité de l'eau" %}
                <li><div class="id">🆔 {{act.id_activite}}</div> <div class="desc">🔍 <strong>{{act.type_activite}}</strong> —  📅 {{act.horaire}}</div></li>
            {% else %}
                <li><div class="id">🆔 {{act.id_activite}}</div> <div class="desc">📋 <strong>{{act.type_activite}}</strong> —  📅 {{act.horaire}}</div></li>
            {% endif %}
        </ul> 

        {% endfor %} 
      </div>

        
      

 


      
