@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pacifico&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}


body{
    background:url(connexion_image.jpg);
   background-position: center;
   background-size: cover;
   
}


header{
    font-family: "Monoton", sans-serif;
    display:flex ;/*le menu est sur la même ligne*/
    justify-content: space-between;/*création d'un espace entre le logo et le menu*/
    align-items: center;/*alignement des élèments par rapport à une liste */
    padding: 20px 15%;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    background-color: azure;
}

.logo{
    font-size: 45px;
}

.menu{
    list-style: none;
    display: flex; 
    
}

ul li{
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 6px;
}

a:hover{/*animation avec la souris*/
    background-color: black;
    color:white
}


section{/*on centre la section body*/
    font-family: "Pacifico", cursive;
    background-color: transparent;
    border: 2px solid rgb(255, 255,255 , 0.2);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 150px;
    width: 550px;
    margin: 150px auto; /* centre horizontalement, et espace vertical */
    
}
section h1{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.input-box{
    width: 100%;
    position: relative;/*mettre les icons*/
    margin-bottom: 25px;

}

.input-box input{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(255, 255,255 , 0.2);
    color: white;
    padding-right: 40px;
}

.input-box input::placeholder{
    color: white;

}

.input-box i{
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top:50%;
    color: white;
}

.login{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.5s;
}

.login:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 255,255 , 0.2);
    color: white;
}


