@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/* initialisation de tous les élèments de la page */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


header{
    display:flex ;/*le menu est sur la même ligne*/
    justify-content: space-between;/*création d'un espace entre le logo et le menu*/
    align-items: center;/*alignement des élèments par rapport à une liste */
    padding: 20px 15%;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    background-color: azure;
    font-family: "Monoton", sans-serif;

}

.logo{
    font-size: 45px;
}

.menu{
    list-style: none;
    display: flex; 
    
}


ul li{
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 6px;
}

body{
    background:url(connexion_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    scrollbar-width: thin;
    scroll-behavior: auto;
}


a:hover{/*animation avec la souris*/
    background-color: black;
    color:white
}

.supp{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
    margin-top: 250px;
    justify-content: center;
    background-color: transparent;
    width: 900px;
    height: max-content;
    padding: 40px; 
    backdrop-filter: blur(10px);
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    color: white;
    font: bold;
}

.entre{
    display: flex;
    gap: 5%;
    color: white;
    font: bold;
}

.id{
    border-radius: 5px;
    border: 4px;
    box-shadow: rgba(0,0,0,10) 0 0 10px;
    border-color: aqua;

}

.valider{
    padding: 4px 5px;
}


input[type=text]{
    padding-left: 10px;
    color: black;

}


.retour{
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    margin-left: 60px;
    margin-top: 30px;

}

.valider{
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 6px rgba(0, 0, 0, 0.404);
    font-size: 20px;
    background-color: aqua;
    margin-left: 260px;
    margin-top: 30px;
}

.valider:hover{
    background-color: gray;
}

.retour:hover .image{
    width: 60px;
    padding: 5px 10px;
}

.image{
    width: 40px;
    height: 40px;
    transition: width 0.3 ease;/*mettre un effet*/
    box-shadow: 0 6px rgba(0, 0, 0, 0.404);

}
p{
    font-size: 20px;
}

.ident_text{
    margin-top: 10px;
}

.tache{
    position: fixed;
    right: 50px;
    top: 150px;
    border: 1px solid white;
    width: 40%;
    height: 100%;
    padding-bottom: 20px;
    margin-left: 150px;
    border-radius: 10px;
    margin-bottom: 80px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,10);
    overflow-y: auto; 
}

.tache h1{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,10);
    color: white;

}


.tache ul li{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,10);
    list-style-type: none;
    color: #ddd;
    
}

.desc{
    display: flex;
}


.act{
    text-align: center;
}

.date_open{
    margin-left: 80px;
}

.heure_open{
    margin-left: 80px;
}
